@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("https://fonts.googleapis.com/css?family=Carme");


body{
	text-align: center;
	background-color: rgb(30, 0, 38);
	color: rgb(30, 0, 38);
	font-size: 150%;
	/*PICK BETWEEN THESE TWO FONTS*/
	font-family: "Source Sans Pro", sans-serif;
	/*font-family: "Carme", sans-serif;*/
	/*TXT BORDER*/
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/

	/*max-width: 50%;*/
	margin-left: auto;
	margin-right: auto;

}


article{
	/*width: 50%;*/
	padding-right: 7%;
	padding-left: 7%;
	padding-bottom: 2%;
	margin-right: 20%;
	margin-left: 20%;
}

header{
	margin-top: 1%;
}

h1{
	font-size: 1.5em;
	margin-bottom: -1%;
	padding-top: 1%
}

h3{
	font-size: 1.32em;
	margin-bottom: -2%;
	/*margin-top: 0.5%;*/
}

p{
	margin-bottom: -1%;
}

#landing{
    position: fixed;
}

#HEADER{
	background-color: #E276FF;
}

#EXPERIENCE{
	background-color: #7693ff;
}

#EDUCATION{
	background-color: #ffe276;
}

#PROJECTS{
	background-color: #93ff76;
	margin-bottom: 2%;
}
