@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("font-awesome.min.css");


body{
	text-align: center;
	background-color: black;
	color: white;
	font-size: 150%;
}

article{
	width: 100%;
}

h1{
	font-size: 1.3em;
}

h3{
	font-size: 1.2em;
}

ul{
	list-style-type: none;
	padding-left: 0;
}

#gitlogo{
	width: 3%;
	padding: 0;
}

.half{
	width: 50%;
	float: left;
}

.third{
	width: 33.33%;
	float: left;
}
